extends layout

block content
  .container.profile
    div.span3
      img(src="/bootstrap/mini-portfolio/img/profile-border-white.png" alt="")
    div.span5
      h1 Kristie Annan
      h3 Junior Developer
      p(style='white-space:pre;')
        | Contact me at: 
        | Phone: 778-386-3797
        | Email: kristie.annan@gmail.com
