extends layout

block content
  .container.skills
    h2.page-header Highlights
    h3 Languages
    h4 
      ul
        li HTML, Javascript, CSS, PHP, Java, Python, C, Objective C, C++, SQL, Perl
    h3 Soft Skills
    h4
      ul
        li Project Management, Organization, Leadership, Communication, Conflict Resolution
        
    h2.page-header Education
    h3 Langara College
    h4 Diploma in Comuper Science
      span.badge.pull-right.badge-info September 2012 - April 2016
    ul
      li GPA: 3.34
      li Recipient of the Hugh Lefebre Memorial CSIS Co-Op Scholarship in recognition of academic excellence.
      li Projects included developing databases, websites, scripts, mobile apps and UI design.
    h4 Diploma in Fine Arts
      span.badge.pull-right.badge-info September 2010 - April 2012
    ul
      li GPA: 3.21
      li Focus on design, drawing and acrylic painting.
      li Experience working with design programs including Photoshop, InDesign, Illustrator and Flash.
     
    h2.page-header Certificates
    h4 First Aid - Level B
      span.badge.pull-right.badge-info March 2008
    h4 Sasamat Outdoor Centre's Leadership I & II
      span.badge.pull-right.badge-info January 2008 - April 2009
    h4 Lakewater Basic Tandem & Solo Canoe Instructor 
      span.badge.pull-right.badge-info April 2008
      
