extends layout

block content
  .container.profile
    div.span3
      img(src="/bootstrap/mini-portfolio/img/profile-border-white.png" alt="")
    div.span5
      h1 Kristie Annan
      h3 Junior Developer
      p
        | Hello, I am Kristie Annan, a Langara Graduate and Junior Developer.
