extends layout

block content
  .container.work
    h2.page-header Volunteer Experience
    .col-xs-12
      .row.list-group
        .col-xs-12.list-group-item
          h3 Front End Developer, GivGro
            span.badge.pull-right.badge-info May 2016 - Present
          h4
            ul
              li Collaborated with a small to design and develop the front end functionality of the non-profit's 
                | website.
          p.work-tags
            span.label.label-important Design
              &nbsp;
            span.label.label-important Typescript
              &nbsp;
            span.label.label-important Angular 2
              &nbsp;
            span.label.label-important Jade/Pug
              &nbsp;
            span.label.label-important Git
              &nbsp;
      .row.list-group
        .col-xs-12.list-group-item
          h3 Leaders of Tomorrow Mentee, Vancouver Board of Trade
            span.badge.pull-right.badge-info October 2013 - September 2014
          h4
            ul
              li Worked with the Social Media & Online Marketing Committee to promote the Leaders of Tomorrow.
              li Achieved social media growth of ~150% from October 2013 to April 2014.
          p.work-tags
            span.label.label-important Networking
              &nbsp;
            span.label.label-important Social Media
              &nbsp;
      .row.list-group
        .col-xs-12.list-group-item
          h3 Katimavik Participant
            span.badge.pull-right.badge-info October 2013 - September 2014
          h4.bold Yellowknife, NWT
          h4 Food Rescue
            ul
              li Retrieved 100+ lbs. of food daily from local businesses which was then processed and redistributed
                | to local homeless, senior or child care facilities with a small team of 2-3 fellow volunteers.  
          h4 SideDoor
            ul
              li Supervised and engaged groups of 10-30 kids from ages 8-13 in after school activies such as tutoring, 
                | crafts, physical activies and games to encourage healthy and constructive lifestyles. 
          h4.bold Terrance Bay, ON
          h4 St. Martins Catholic School
            ul
              li Tutored students and aided teachers during classes for grades K-6. 
          h4.bold Montreal, QC
          h4 Santropol Roulant
            ul
              li Distributed 10-15 meal orders daily to seniors and disabled persons in their homes along given routes. 
          p.work-tags
            span.label.label-important Communication
              &nbsp;
            span.label.label-important Project Planning
              &nbsp;
            span.label.label-important Leadership
              &nbsp;
            span.label.label-important Conflict Resolution
              &nbsp;
      .row.list-group
        .col-xs-12.list-group-item
          h3 Assistant Counsellor, Sasamat Outdoor Centre
            span.badge.pull-right.badge-info June - August 2006
          h4
            ul
              li Aided in coaching groups of 8-10 kids ages 6-12 through a wide variety of activies.
              li Organized themed events each week which involved producing props and decorations, organizing games
                | and creating schedules. 
          p.work-tags
            span.label.label-important Event planning
              &nbsp;
            span.label.label-important Leadership
              &nbsp;
            span.label.label-important Public Speaking
              &nbsp;
            span.label.label-important Organization
              &nbsp;
