extends layout

block content
  .container.work
    h2.page-header Work Experience
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h3
            //- a(href="/location") Starcups
            |Teaching Assistant, Langara College
            span.badge.pull-right.badge-info January - August 2016
          h4
            ul
              li Evaluated submitted student programs and webpages for two advanced web development course sections. 
          p.work-tags
            span.label.label-important HTML
              &nbsp;
            span.label.label-important Javascript
              &nbsp;
            span.label.label-important PHP
              &nbsp;
            span.label.label-important Wordpress
              &nbsp;
      .row.list-group
        .col-xs-12.list-group-item
          h3 Build and Test Engineer Co-op, Eight Solutions Inc
            //- a(href="/location") Cafe
            span.badge.pull-right.badge-info September 2015 - April 2016
          h4
            ul
              li Wrote 200+ JasmineJS regression tests to ensure modules were meeting their requirements. 
              li Developed widgets in Javascript with BackboneJS for a web application, maintaining communication with end users to ensure
                | requirements were met.
              li Refactored existing widgets to match new coding standards and to optimize code.
          p.work-tags
            span.label.label-important HTML
              &nbsp;
            span.label.label-important Javascript
              &nbsp;
            span.label.label-important BackboneJS
              &nbsp;
            span.label.label-important JasmineJS
              &nbsp;
            span.label.label-important GruntJS
              &nbsp;
      .row.list-group
        .col-xs-12.list-group-item
          h3 Systems Integrator Co-op, Ritchie Bros. Auctioneers
            span.badge.pull-right.badge-info January - October 2015
          h4
            ul
              li Managed 100+ virtual machines, primarily Windows and Linux servers using VMWare, including handling requests for
                | VM creation, destruction, storage management, networking and troubleshooting.
              li Prepared testing environments by tracking and setting up hardware and LANs, installing and configuring software,
                | and solving network and technical issues.
              li Produced applications, from deisng to implementation, in PHP and Python to automate the submissions of internal 
                | forms and to update data in Salesforce.
              li Organized and maintained timelines and schedules for the limited software development sandboxes and servers
                | used for multiple projects.
          p.work-tags
            span.label.label-important Salesforce
              &nbsp;
            span.label.label-important Documentation
              &nbsp;
            span.label.label-important PHP
              &nbsp;
            span.label.label-important Python
              &nbsp;
            span.label.label-important HTML
              &nbsp;
            span.label.label-important Jira
              &nbsp;
      .row.list-group
        .col-xs-12.list-group-item
          h3 Central Services Clerk, Goodmans Vancouver
            span.badge.pull-right.badge-info September 2009 - January 2015
          h4
            ul
              li Launched a new project to digitize all of the closed office books, dating from the 1960's to the present day, and
                | converted them into searchable PDF documents to streamline referencing tasks.
              li Aided staff with general tasks including running errands, processing documents, handling confidential materials,
                | setting up computers and networks, and providing Tier 1 technical support.
              li Supervised and conducted training for new central services staff.
              li Ensured office supplies were fully stocked. 
              li Coordinated incoming phone calls and greeted clients for the 30+ lawyers and staff.
          p.work-tags
            span.label.label-important Microsoft Office Suite
              &nbsp;
            span.label.label-important Customer Service
              &nbsp;
            span.label.label-important Technical Support
              &nbsp;
            span.label.label-important Supervision and Training
              &nbsp;
            span.label.label-important Organization
              &nbsp;
      .row.list-group
        .col-xs-12.list-group-item
          h3 Resident Camp Counsellor, Sasamat Outdoor Centre
            span.badge.pull-right.badge-info April 2008 - August 2008
          h4
            ul
              li Engaged and couached groups of 8-10 kids ages 8-12, 24 hours a day, 5 days a week through a wide variety of activities
                | to safely develope skills and experiences in teamwork, creativity, critical thinking and outdoorsmanship while 
                | promoting a healthy, active lifestyle.
              li Schedules, organized and lead a variety of age appropriate activities every week according to the program curriculum.
          p.work-tags
            span.label.label-important Microsoft First Aid
              &nbsp;
            span.label.label-important Problem Solving
              &nbsp;
            span.label.label-important Leadership
              &nbsp;
            span.label.label-important Public Speaking
              &nbsp;
            span.label.label-important Organization
              &nbsp;
